.profile {
  margin-top: 40px;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: 375px auto;
}

.profile__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  padding-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  grid-area: button;
  margin: 15px 0 9px 18px;
  transition: opacity 0.6s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: auto;
  box-sizing: border-box;
  transition: opacity 0.6s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    margin-bottom: 37px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 4px 0 0 10px;
  }

  .profile__image {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 775px) and (min-width: 630px) {
  .profile__info {
    grid-template-columns: auto;
    max-width: 385px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 4px 0 0 10px;
  }

  .profile__add-button {
    width: 50px;
  }
}
