@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
  .page {
    margin: 0;
  }
  .header {
    margin-top: 28px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .footer__copyright {
    margin: 0 0 0 19px;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    margin-bottom: 37px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
  .profile__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 4px 0 0 10px;
  }

  .profile__image {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 775px) and (min-width: 630px) {
  .profile__info {
    grid-template-columns: auto;
  }

  .profile__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
  }

  .profile__description {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 4px 0 0 10px;
  }

  .profile__add-button {
    width: 50px;
  }
}
